[submodule "hugo/themes/ananke"]
	path = hugo/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/zola-theme"]
	path = themes/zola-theme
	url = git@github.com:Super-Botman/zola-theme.git
