{%- extends "base.html" -%}

{%- block content -%}
<div class="intro" id="intro">
  <script>
  (async () => {
    const sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms))

    const text = [
      "Welcome", 
      "My pseudo is Botman", 
      "I'm a big fan of neovim", 
      "So I developed this website to hold my WU", 
      "Enjoy!"
    ]

    const element = document.getElementById("intro")

    if (Cookies.get('intro') == '') {
      element.remove()
      window.location.href = '/readme'
    };

    element.style = `background: radial-gradient(circle, rgba(26, 82, 205, 1) 0%, rgba(2, 0, 36, 1) 100%);`

    for(let i = 0; i < text.length; i++){
      const h1 = document.createElement("h1");
      element.appendChild(h1)

      let word = text[i];
      const max_percentage = 300

      let p_array = []
      let p = document.createElement("p");
      p_array.push(p)
      h1.appendChild(p)

      for(let j = 0; j < word.length; j++){ 
        const span = document.createElement("span")
        span.innerHTML = word[j].replace(" ", "&nbsp;")
        p.appendChild(span) 

        if (word[j] == " ") {
          p = document.createElement("p");
          p_array.push(p)
          h1.appendChild(p)
        }

        h1.style = `background-image: -webkit-linear-gradient(0deg, #fff, transparent 
                    ${(max_percentage/word.length)*(j+1)}%);`
        await sleep(100)
      }

      await sleep(100*word.length);

      let percentage = 0;
      for(let i = p_array.length-1; i >= 0; i--){
        const p = p_array[i]

        for(let k = (p.children.length-1); k >= 0 ; k--){
          await sleep(60)
          p.removeChild(p.children[k])

          percentage++
          h1.style = `background-image: -webkit-linear-gradient(0deg, #fff, transparent 
                      ${max_percentage*1.2 - ((max_percentage/word.length)*(percentage))}%);`

        }
    }

     element.removeChild(h1)
    }

    for( let i = 100; i >= 0; i--) {
      element.style = `background: radial-gradient(circle, rgba(26, 82, 205, ${i/100}) 0%, rgba(2, 0, 36, ${i/100}) 100%);`
      await sleep(5)
    }
    
    element.remove()
    Cookies.set('intro', '')
    window.location.href = '/readme'
  })()
  </script>
  <h5>skip intro by pressing space</h5>
</div>
{%- endblock content -%}
